<nav class="navbar navbar-expand-md ">
  <!-- <a class="navbar-brand" href="#">Expand at md</a> -->
  <header-menu-brand></header-menu-brand>

  <app-header-menu-main [title]="'Configuración'">
  </app-header-menu-main>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button"
          (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">

      <li class="nav-item">
        <app-header-menu-person>
        </app-header-menu-person>
      </li>

      <li class="nav-item active ">
        <app-header-menu-organization>
        </app-header-menu-organization>
      </li>

      <li class="nav-item">
        <app-header-menu-user>
        </app-header-menu-user>
      </li>

    </ul>
  </div>

  <div class="text-white">

    <span class="mr-2">
      <app-header-menu-brand-time>
      </app-header-menu-brand-time>
    </span>
    <span class="mr-2">
      <app-header-menu-brand-connection></app-header-menu-brand-connection>
    </span>
  </div>
</nav>




<!--   
<button class="navbar-toggler" type="button" data-toggle="collapse"
data-target="#navbarsExample04" aria-controls="navbarsExample04"
aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExample04">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="#">Home <span
      class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Link</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#" tabindex="-1"
 aria-disabled="true">Disabled</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="dropdown04"
 data-toggle="dropdown" aria-haspopup="true"
 aria-expanded="false">Dropdown</a>
<div class="dropdown-menu" aria-labelledby="dropdown04">
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>
</div>
</li>
</ul>
<form class="form-inline my-2 my-md-0">
<input class="form-control" type="text" placeholder="Search">
</form>
</div> -->