<ng-container *transloco="let t">


  <!-- Title -->
  <h1 class="form-title text-center">
    {{ t('TXT-EMPLOYEES-EMPLOYEE_REGISTER') }}
  </h1>
  <section class="card"> </section>

  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <!-- HIDDEN ID -->
    <input type="hidden" name="employeeId" #employeeId="ngModel"
           [(ngModel)]="employeeService.formData.employeeId" id="">

    <!-- FULL NAME -->
    <div class="form-group">
      <label>{{ t('TXT-EMPLOYEES-FULL_NAME')}}</label>
      <input name="employeeFullName" #employeeFullName="ngModel"
             [(ngModel)]="employeeService.formData.employeeFullName"
             class="form-control" required>
      <div class="validation-error"
           *ngIf="employeeFullName.invalid && employeeFullName.touched">
        {{t('TXT-EMPLOYEES-THIS_FIELD_IS_REQUIRED')}}
      </div>
    </div>

    <!-- POSITION -->
    <div class="form-group ">
      <label>{{ t('TXT-EMPLOYEES-POSITION')}}</label>
      <input name="employeePosition" #employeePosition="ngModel"
             [(ngModel)]="employeeService.formData.employeePosition"
             class="form-control">
    </div>


    <section class="form-row">

      <!-- EMPLOYEE CODE -->
      <div class="form-group  col-md-6">
        <label>{{ t('TXT-EMPLOYEES-EMPLOYEE_CODE')}}</label>
        <input name="employeeCode" #employeeCode="ngModel"
               [(ngModel)]="employeeService.formData.employeeCode"
               class="form-control">
      </div>

      <!-- MOBILE -->
      <div class="form-group col-md-6">
        <label>{{ t('TXT-EMPLOYEES-MOBILE')}}</label>

        <input name="employeeMobile" #employeeMobile="ngModel"
               [(ngModel)]="employeeService.formData.employeeMobile"
               class="form-control">
      </div>



    </section>

    <!-- BUTTONS -->
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid || form.pristine"
              class="btn btn-md ">{{t('TXT-EMPLOYEES-SUBMIT')}}</button>
    </div>

  </form>

</ng-container>